body  {
    
    background-color: #fceefc;
  }
/*border radius*/

 .btn,
 .jumbotron,
 .nav :hover {
     border-radius: 0px;
     font-family: Arial, Helvetica, sans-serif;
 }


 /********************* check ********************/
 
 .form-check {
    color: rgb(238, 65, 151);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    font-size: 16px;
    
    border-radius: 1em;
    box-shadow: #f12929;
    padding: 15px;
    width: 200px;
    height: 2.5em;
    margin-left: 0.5em;
    
 }

 .form-check-label{
    color: rgb(238, 65, 151);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    font-size: 16px;
 }



/********************** title *********************/

 .title {
    color: rgb(238, 65, 151);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    font-size: 30px;
    background: #f7cccc;
    border-radius: 1em;
    box-shadow: #f12929;
    padding: 15px;
    width: max-content;
    max-height: fit-content;
    max-width: fit-content;
    opacity: 0.9;
    
 }


/********************** button ***************************/

 .bview {
     color:   #0a0c0e ;
     margin-top: 10px;
    
     background-color:#ffffff  ;
     width: 5em;
     height: 2em;
     border-radius: 50px;
     border: 1px solid rgb(172, 144, 250);
     transition-duration: 0.4s;
     justify-items: center;
     font-family: 'Courier New', Courier, monospace;
 }
 .bview:hover {
    background-color: #154360; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .bKitchen {
    color:   #f741c0 ;
    font-weight: bolder;
    background-color: #ffffff;
    width: 5em;
    height: 2em;
    border-radius: 50px;
    border: 1px solid rgb(245, 165, 202);
    transition-duration: 0.4s;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
}
.bKitchen:hover {
   background-color: #f88eef; 
   color: white;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }

 .bRemove {
    color:   #ff0000 ;
    font-weight: bolder;
    background-color: #ffffff;
    width: 5em;
    height: 2em;
    border-radius: 50px;
    border: 1px solid rgb(255, 0, 0);
    transition-duration: 0.4s;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2em;
}
.bRemove:hover {
   background-color: #ff0000; 
   color: white;
   box-shadow: 0 12px 16px 0 rgba(255, 16, 16, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }



/************************ ชื่อหัวข้อของ card ***************/
 .name {
    background: #024959;
    flex-basis: auto;
    color: rgb(255, 255, 255);
    font-weight:bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    box-shadow: #f12929;
    text-align: center;
} 

.CardPrice{
    text-align: center;
    font-size: larger;
}

/************************** img ******************/

.img {
    height: 200px;
    width: 200px;
    justify-items: center;
    text-align: center;
    margin: auto auto;
    border-radius: 10%;
    margin-bottom: 1em;
}










/************* cart badge *****************/

.cart-badge,
.cart-badge:hover {
    border-radius: 50%;
    padding: 3px;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: #f12929;
    font-family: Arial, Helvetica, sans-serif;
    
}

 /**************product image on card****************/
 
 .product-img {
     min-height: 50px;
 }
 
 .jumbotron h2 {
     margin-top: -20px;
 }
 
 @media only screen and (max-width: 600px) {
     .jumbotron h2 {
         margin-top: 10px;
     }
 }
 


 /******************** jumbotron animation********************/
 
 .jumbotron {
     width: wh;
     height: 30vh;
     color: #fff;
     background: linear-gradient(-30deg, #70016b, #f363ec, #fd9adc, #ffd1fb);
     background-size: 30% 100%;
     -webkit-animation: Gradient 50s ease infinite;
     -moz-animation: Gradient 50s ease infinite;
     animation: Gradient 50s ease infinite;
     font-family: Arial, Helvetica, sans-serif;
     background-image: url("img/ซื้อ1แถม1.jpg");
     
     
}
 
 @-webkit-keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 
 @-moz-keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 
 @keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 